rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reviews/{reviewId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && 
        (request.auth.uid == resource.data.userId || isAdmin());
      
      match /replies/{replyId} {
        allow read: if true;
        allow create: if request.auth != null;
        allow update, delete: if request.auth != null && 
          (request.auth.uid == resource.data.userId || isAdmin());
      }
    }
    
    function isAdmin() {
      return request.auth.uid == "0RpxGvSeXkYLbPn33kZzMA58tFH3";
    }
  }
}